@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

:root {
  --font-poppins: 'Poppins', sans-serif;
}

body {
  font-family: var(--font-poppins);
}